
@font-face {
    font-family: schooldash;
    src: url("fonts/school-dash.woff");
}

@font-face {
    font-family: school;
    src: url("fonts/school.woff");
}

textarea.handwriting-input {
	font-size:48px;
	font-family: school;
	font-weight: bold !important;
	padding:20px !important;
}

label.handwriting-label {
	font-size:48px;
	font-family: school;
	font-color: gray;
	padding:20px !important;
}

.jkeyboard .jline ul li  {
	font-family: school !important;
	font-size:48px !important;
	font-weight: bold !important;
	color: black !important;
}