
@font-face {
    font-family: schooldash;
    src: url("fonts/school-dash.woff");
}
@font-face {
    font-family: school;
    src: url("fonts/school.woff");
}


body { margin: 0; padding: 70px 70px 70px 80px; }
.clear { display: block; height: 1px; clear: both }
.right { text-align: right; }
.tabtitle { color: #A00; margin: 16px auto 6px auto; text-align: center; width: 100%;}
h3.title { font-size: 32px; color: #0066b3; line-height: 16px;}
span.label { font-size: 16px; color: #222; }
span.small { font-size: 12px; color: #aaa; }
.about { margin: 10px 20px; font-size: 16px; text-align: left; }
.txtcntr { text-align: center; }
.txtright {text-align: right; color: #aaa; }

p.propisi { margin: 0; padding: 0; font-family: schooldash; font-size: 68px; line-height: 76px; }
span.latin { font-family: school; }
span.bold  { font-family: school; }
span.gray  { font-family: school; color:#bbbbbb; }

body { width: 860px; height: 1280px; background: url("preview_background.jpg") no-repeat 0 0;}
div.txttop { margin: 70px 0 0 0; padding:0; }
div.title { margin: 45px 0 0 0; padding:0; }
